<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>My Blog</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="bg-white black-80 tc pv4 avenir">

        <h1 class="mt2 mb0 fw1 f1">My Blog</h1>
        <h2 class="mt2 mb0 f6 i fw4 ttu tracked">It's so bloggy!</h2>
        <nav class="bt bb tc mw7 center mt4">
            <a class="f6 f5-l link bg-animate black-80 hover-bg-hot-pink dib pa3 ph4-l" href="/index">Home</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l" href="/blogposts">Blog
                Posts</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-purple dib pa3 ph4-l" href="/authors">Authors</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-purple dib pa3 ph4-l" href="/users">Users</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-blue dib pa3 ph4-l" href="/contact">Contact</a>
        </nav>
    </header>
    {% block content %}{% endblock %}

</body>

</html>