{% extends "base_generic.html" %}

{% block content %}
<h1 class="tc sans-serif">All Our Posts</h1>
{% if author_list %}
<ul class="list pl0 ml0 center mw6 ba b--light-silver br2 tc sans-serif">
  {% for author in author_list %}
  <li class="link bg-animate black-80 hover-bg-light-pink dibph3 pv3 bb b--light-silver">
    <a href="{{ Author.get_absolute_url }}">{{ author.name }}</a> ({{author.bio}})
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="tc">There are no posts yet. Sorry!</p>
{% endif %}
{% endblock %}